<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morphing Kartoffel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="ellipse" id="ellipse">
        <div class="gradient-layer" id="gradient1"></div>
        <div class="gradient-layer" id="gradient2"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</div>
</body>
</html>
